<div>
  <h1>I see you have no patience!</h1>
  <div>
    <h2>Here you can see the products updated in real time.</h2>
    <button onclick="redirectFunction()">Add or Remove a Product</button>
  </div>
  {{#if areProducts}}
    {{#each products}}
    <div style="margin: 20px; padding: 20px; border: thin solid black";>
      <p>ID: {{this.id}} - Code: {{this.code}} - Title: {{this.title}}</p>
      <p>Description: {{this.description}}</p>
      <p>Price: ${{this.price}}</p>
      <p>Stock: {{this.stock}}</p>
      <img src="{{thumbnail}}" alt="" width="500">
    </div>
    {{/each}}
  {{else}}
    <div>
      <p>Sorry, there are no products yet, please add a product in the page you are redirected by clicking in the button at the top.</p>
    </div>
  {{/if}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
<script>
  function redirectFunction(){
    window.location = "/" ;
  }
</script>